/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
.videoTag {
    width: 100%;
}
.container-fluid {
    padding: 0 !important;
}
.c-main {
    padding: 0;
}
